@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/images/nice.jpg");
  background-color: #0f172a;
  background-attachment: fixed;
  background-color: #f7fafc;
}
